body {
  font-family: "Montserrat", sans-serif;
  background-image: url("./images/10300.png");
  background-color: #e9f7f8;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

small {
  display: block;
  padding: 5px;
  line-height: 1.5;
}

.container {
  background-color: rgb(174, 192, 178, 0.6);
  border: 2px solid rgb(116, 126, 119);
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgb(116, 126, 119);
  padding: 15px;
  width: 75%;
  max-width: 500px;
  margin: 50px auto;
}

h3 {
  font-size: 12px;
  font-weight: 600;
  padding-left: 10px;
}

.hostingInfo {
  font-size: 12px;
  text-align: center;
}
.vector-source {
  text-decoration: none;
  color: black;
}
.vector-source:hover {
  text-decoration: underline;
  color: black;
}
